[submodule "oh-my-zsh"]
  path = bundles/oh-my-zsh
  url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh-completions"]
  path = bundles/zsh-completions
  url = https://github.com/zsh-users/zsh-completions.git
[submodule "powerlevel10k"]
  path = bundles/powerlevel10k
  url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-autosuggestions"]
  path = bundles/zsh-autosuggestions
  url = https://github.com/zsh-users/zsh-autosuggestions.git
